<style>
<link rel="stylesheet" href="https://use.typekit.net/qqt5aaq.css">





h1{
  font-family: alternate-gothic-no-2-d, sans-serif;

font-weight: 400;

font-style: normal;
}

body {
  /* text-transform: uppercase; */
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}
